.wrapper__offer {
  margin: 0 auto;
  padding: 0 16px;
}
  .offer {
  &__title {
    display: none;
  }  
  &__text {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.2px;
    margin-block-start: 0px;
    margin-block-end: 16px;
    max-width: 421px;
  }

  &__link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    color: $mainTextColor;
    opacity: 1;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    &:after{
      content: url("../img/icongosingul.svg");
      margin-left: 5px;
    }

    &:hover {
      opacity: 0.33;
    }
    &:active {
      opacity: 0.33;
      transform: translateY(4px);
    }
    &:visited {
      opacity: 0.33;
    }
    
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .offer {
    max-width: 767px;
    &__link {
      margin-bottom: 40px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .wrapper__offer {
    min-width: 768px;
    padding: 0 24px;
  }
    .offer {  
    &__link {
      margin-bottom: 47px;
    }
  }
}
@media (min-width: 1120px) {
  .wrapper__offer {
    min-width: 1120px;
    padding: 0 32px;
  }
    .offer {
    &__link {
      margin-bottom: 50px;
    }
  }
}
@media (min-width: 1440px) {
  .wrapper__offer {
    max-width: 1120px;
    margin: 0;
  }
}
